In [17]:
import xarray as xr
import pandas as pd
import locale

# locale.setlocale(locale.LC_ALL,'en_US')
# locale.setlocale(locale.LC_ALL,'en_US')
dataset = xr.open_dataset('MiningProcess_Flotation_Plant_Database.h5', engine = 'h5netcdf')
df = dataset.to_pandas()

In [18]:
## Resampling
df = df.resample('1h').mean()

# # ##
# df.iloc[:-1, df.columns.get_loc('% Iron Feed')] = df['% Iron Feed'].iloc[1:].values
# df.iloc[:-1, df.columns.get_loc('% Silica Feed')] = df['% Silica Feed'].iloc[1:].values
# df.iloc[:-1, df.columns.get_loc('% Iron Concentrate')] = df['% Iron Concentrate'].iloc[1:].values
# df.iloc[:-1, df.columns.get_loc('% Silica Concentrate')] = df['% Silica Concentrate'].iloc[1:].values

# df = df.iloc[:-1]

## Split into input and output
X = df.iloc[:,:-2]
Y = df['% Silica Concentrate']

In [19]:
# Adding lagged variables

import numpy as np
X_copy = X.copy()
lagged_variables = {}
for lag in range(1,7):
    lagged_variable = np.zeros(len(X_copy))
    lagged_variable[lag:] = Y.iloc[:-lag]

    lagged_variables[f'% Silica Concentrate Lag {lag}'] = lagged_variable
    # X.loc[:,] = lagged_variable


for variable in X_copy.columns:
    X_variable = X_copy[variable]
    for lag in range(1,7):
        lagged_variable = np.zeros(len(X_variable))
        lagged_variable[lag:] = X_variable.iloc[:-lag]


        # X.loc[f'{variable} Lag {lag}'] = lagged_variable
        lagged_variables[f'{variable} Lag {lag}'] = lagged_variable

df_lagged_variables = pd.DataFrame(lagged_variables,index=X_copy.index)

X = X.join(df_lagged_variables)
X = X[5:]

In [20]:
remove_variables = True
N = 42
if remove_variables:
    variables = pd.read_csv('variables.csv',index_col=0)
    X = X[variables[:42]['Column']]

In [21]:
X

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,...,Flotation Column 06 Level Lag 3,Flotation Column 06 Level Lag 4,Flotation Column 06 Level Lag 5,Flotation Column 06 Level Lag 6,Flotation Column 07 Level Lag 1,Flotation Column 07 Level Lag 2,Flotation Column 07 Level Lag 3,Flotation Column 07 Level Lag 4,Flotation Column 07 Level Lag 5,Flotation Column 07 Level Lag 6
date,,,,,,,,,,,,,,,,,,,,,
2017-03-10 06:00:00,55.20,16.98,3405.162222,621.878539,399.749344,9.892237,1.765064,249.898294,250.111022,250.075383,...,459.981311,455.501528,464.383310,0.000000,550.271772,494.939889,450.296722,451.387700,450.532747,0.000000
2017-03-10 07:00:00,54.95,17.40,2865.878428,618.186367,400.345133,10.180426,1.765422,250.350667,250.276594,250.066844,...,502.763850,459.981311,455.501528,464.383310,551.090767,550.271772,494.939889,450.296722,451.387700,450.532747
2017-03-10 08:00:00,54.95,17.40,3306.753627,595.680983,400.128744,10.180203,1.766156,249.806094,250.236878,250.009028,...,560.696300,502.763850,459.981311,455.501528,550.575817,551.090767,550.271772,494.939889,450.296722,451.387700
2017-03-10 09:00:00,54.95,17.40,3784.487111,592.367983,400.278467,9.940503,1.760050,250.063789,249.903689,250.005444,...,561.051644,560.696300,502.763850,459.981311,550.011017,550.575817,551.090767,550.271772,494.939889,450.296722
2017-03-10 10:00:00,54.95,17.40,3316.753911,582.906094,399.773667,10.104197,1.761051,250.096767,250.002978,250.046239,...,569.619278,561.051644,560.696300,502.763850,550.217228,550.011017,550.575817,551.090767,550.271772,494.939889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-09-09 19:00:00,49.75,23.20,3327.047776,497.211189,380.847200,9.176166,1.660871,301.565561,300.169133,299.900722,...,399.976206,400.172078,400.945772,402.951861,402.949094,401.583039,399.181494,401.485333,400.916989,397.697150
2017-09-09 20:00:00,49.75,23.20,4225.800333,508.963856,381.112889,9.387541,1.691996,300.050172,299.967839,299.906550,...,398.953489,399.976206,400.172078,400.945772,400.559511,402.949094,401.583039,399.181494,401.485333,400.916989
2017-09-09 21:00:00,49.75,23.20,2808.214692,517.748822,381.064411,9.771277,1.735647,299.814289,299.801561,299.973161,...,406.676483,398.953489,399.976206,400.172078,400.486233,400.559511,402.949094,401.583039,399.181494,401.485333
2017-09-09 22:00:00,49.75,23.20,3191.497672,492.511228,380.445006,9.782121,1.716644,300.122756,299.679472,299.927028,...,399.468911,406.676483,398.953489,399.976206,400.556333,400.486233,400.559511,402.949094,401.583039,399.181494
2017-09-09 23:00:00,49.75,23.20,3638.543653,460.769950,380.823147,9.653802,1.667826,299.778889,300.095394,299.840833,...,398.905006,399.468911,406.676483,398.953489,401.769072,400.556333,400.486233,400.559511,402.949094,401.583039

In [22]:
# Split to calibration-validation set and test set
X_cal = X['20170615':'20170723']
Y_cal = Y['20170615':'20170723']
X_test = X['20170412':'20170506']
Y_test = Y['20170412':'20170506']

In [23]:
# Remove missing values in between
# X_cal.loc['201707060400':'201707062200'] = pd.NA
# X_cal.dropna(inplace=True)

# Y_cal.loc['201707060400':'201707062200'] = pd.NA
# Y_cal.dropna(inplace=True)

X_test.loc['20170421':'20170424'] = pd.NA
X_test.dropna(inplace=True)

Y_test.loc['20170421':'20170424'] = pd.NA
Y_test.dropna(inplace=True)

C:\Users\erikk\AppData\Local\Temp\ipykernel_32204\695225842.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test.dropna(inplace=True)

In [24]:
# Store data

with pd.HDFStore('MiningProcess_Flotation_Plant_Database_train_split.h5') as store:
    store.put('X_cal', X_cal)
    store.put('Y_cal', Y_cal)
    store.put('X_test', X_test)
    store.put('Y_test', Y_test)